# PhpStorm

.idea

# Composer

vendor
composer.lock

# Node and Bower dependencies

node_modules
bower_components

# App

.env
/public/assets
/public/uploads/*
!/public/uploads/.gitkeep
/logs
!/logs/.gitkeep
